<a href="https://colab.research.google.com/github/t3ch-spawn/group9_product_dashboard/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
# Load the CSV file
file_path = "/products_db.csv"
df = pd.read_csv(file_path)

In [6]:
# Calculate total cost
df['total_cost'] = (df['cost_price'] + df['holding_cost']) * df['units_sold']

In [7]:
# Calculate average daily sales
df['average_daily_sales'] = df['units_sold'] / 30

In [8]:
# Display the updated dataframe
print("Updated Product Data:\n")
print(df)

Updated Product Data:

    id              title     category  cost_price  selling_price  units_sold  \
0  NaN     wireless_mouse  electronics        3500           5000         120
1  NaN         hair_cream       beauty        1800           2800         150
2  NaN             Tshirt     clothing        2000           3200         200
3  NaN        denim_jeans     clothing        8000          10000         120
4  NaN         headphones  electronics       15000          22000          50
5  NaN       water_bottle  kitchenware        4000           6500          80
6  NaN        smart_watch  electronics       30000          24000          55
7  NaN       nivea_lotion       beauty        1700           2300         540
8  NaN        ceramic_pot  kitchenware        7000          10000         210
9  NaN               lamp   home_decor       10000          13000         170
10 NaN  bluetooth_speaker  electronics       25000          35000         180
11 NaN   wireless_earbuds  electronics       18000          27000         200
12 NaN         wall_clock   home_decor        6000           9000         120
13 NaN             Mirror   home_decor        9000          13000         125
14 NaN         frying_pan  kitchenware        8000          11000         160
15 NaN        cutlery_set   kitcheware        5000           8000         190
16 NaN           sneakers     clothing       15000          22000         150
17 NaN            handbag     clothing       18000          25000          80
18 NaN         hair_dryer       beauty       12000          17000         110
19 NaN         face_serum       beauty        5500           8500         150

    units_in_stock  lead_time  holding_cost  total_cost  average_daily_sales
0               30          5          1000      540000             4.000000
1               40         10           650      367500             5.000000
2               50          7           400      480000             6.666667
3              300          5           200      984000             4.000000
4              200          7           500      775000             1.666667
5              150         10           450      356000             2.666667
6               30          8          1800     1749000             1.833333
7              160          5           700     1296000            18.000000
8               30          9           700     1617000             7.000000
9               80          4           900     1853000             5.666667
10              40          7          3000     5040000             6.000000
11              50          6          2200     4040000             6.666667
12              25          5           700      804000             4.000000
13              28          6          1000     1250000             4.166667
14              30          5           900     1424000             5.333333
15              45          4           600     1064000             6.333333
16              35          6          1800     2520000             5.000000
17              15          7          2000     1600000             2.666667
18              25          5          1200     1452000             3.666667
19              40          4           700      930000             5.000000

In [9]:
# Save the new data to a new CSV file
output_file = "products_db_updated.csv"
df.to_csv(output_file, index=False)

print(f"\n✅ File saved successfully as '{output_file}'")

✅ File saved successfully as 'products_db_updated.csv'